// Variables
$generic-box-shadow: rgpa(0,0,0,0.1) 0 0 0 0, rgba(0,0,0,0.1) 0 4px 11px;
$generic-border: 1px solid #f1f1f1;
$generic-bg: #db4c3f;

// Darkmode

.darkmode{
  header{
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
    background-color: #282828;
    border-color: transparent;
  }
}